.profile-container {
  .intro-doctor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    .content-left {
      width: 20%;
      border: 1px solid gray;
      background-repeat: no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      border-radius: 100rem;
    }
    .content-right {
      width: calc(100% - 80px);
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .up {
        font-weight: 600;
      }
      .down {
      }
    }
  }
  .view-detail-doctor {
    margin-left: 10px;
  }
}
